.container.contact__container {
  width: fit-content;
  margin: auto;
  margin-top: 200px;
}
.contact__options {
  display: flex;
}
.contact__options article {
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  font-size: 1.5rem;
  margin:0 30px;
  width: 400px;
}
.contact__options article:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}
.contact__options article a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .contact__options {
    flex-direction: column;
    margin: 20px 0;
  }
  .contact__options article {
    font-size: 20px;
    margin: 20px 20px;
  }
}
@media screen and (max-width: 600px) {
 .contact__options article {
    width: 250px;
   font-size: 15px;
 }
}