.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 5rem;
}
.header__socials::after{
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.me {
  background: linear-gradient( var(--color-primary), transparent);
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-top: 4rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me img {
  height: 100%;
}
.link svg {
  margin-right: 10px;
}

.scroll-button {
  position: absolute;
  right: 0;
  bottom: 5rem;
}
.scroll_down {
  transform: rotate(90deg) translateX(-50%);
  font-weight: 300;
  font-size: 0.9rem;
  display: block;
}

@media screen and (max-width: 600px) {
  .header__socials,
  .scroll_down {
    display: none;
  }
}